body{background-color: rgb(204, 255, 102);}
.titulo{
    color: rgb(39, 202, 18);
    font-weight: 900;
    text-align: center;
}
table{margin-left : .5cm;}

.container {
    display: flex;
    align-items: center;
  }

  .image {
    width: 8cm; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    margin-left: 2cm; /* Espacio entre la imagen y el texto */
  }
